In [69]:
import warnings
warnings.filterwarnings('ignore')
import csv
import pandas as pd
graph = pd.read_csv("D:\pm2021_01\TeamProject\오존대기오염도.csv",encoding='euc-kr', engine='python')
graph

,시도별(1),시도별(2),2019. 01,2019. 02,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12
0,총계,소계,0.019,0.025,0.036,0.036,0.05,0.042,0.032,0.032,0.026,0.025,0.019,0.017
1,서울,서울,0.012,0.018,0.028,0.029,0.043,0.039,0.031,0.03,0.024,0.021,0.013,0.011
2,부산,부산,0.023,0.029,0.039,0.037,0.048,0.038,0.028,0.03,0.028,0.029,0.023,0.018
3,대구,대구,0.017,0.024,0.036,0.036,0.048,0.044,0.03,0.03,0.025,0.022,0.017,0.014
4,인천,인천,0.017,0.023,0.033,0.033,0.046,0.041,0.032,0.037,0.026,0.024,0.017,0.015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,경남,합천,-,-,-,-,-,-,-,-,-,-,0.02,0.019
160,경남,도평균,0.024,0.03,0.042,0.04,0.053,0.044,0.033,0.033,0.028,0.027,0.022,0.019
161,제주,제주,0.038,0.042,0.054,0.052,0.065,0.048,0.035,0.04,0.041,0.045,0.04,0.033
162,제주,서귀포,0.04,0.043,0.054,0.052,0.061,0.047,0.035,0.038,0.04,0.04,0.041,0.038
163,제주,도평균,0.039,0.043,0.054,0.052,0.062,0.048,0.035,0.039,0.041,0.042,0.041,0.036

In [70]:
graph.dtypes

시도별(1)      object
시도별(2)      object
2019. 01    object
2019. 02    object
2019. 03    object
2019. 04    object
2019. 05    object
2019. 06    object
2019. 07    object
2019. 08    object
2019. 09    object
2019. 10    object
2019. 11    object
2019. 12    object
dtype: object

In [71]:
graph.columns

Index(['시도별(1)', '시도별(2)', '2019. 01', '2019. 02', '2019. 03', '2019. 04',
       '2019. 05', '2019. 06', '2019. 07', '2019. 08', '2019. 09', '2019. 10',
       '2019. 11', '2019. 12'],
      dtype='object')

In [72]:
graph2 = graph[['시도별(1)','2019. 01','2019. 02','2019. 03','2019. 04','2019. 05','2019. 06',
               '2019. 07','2019. 08','2019. 09','2019. 10','2019. 11','2019. 12']]
graph2

,시도별(1),2019. 01,2019. 02,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12
0,총계,0.019,0.025,0.036,0.036,0.05,0.042,0.032,0.032,0.026,0.025,0.019,0.017
1,서울,0.012,0.018,0.028,0.029,0.043,0.039,0.031,0.03,0.024,0.021,0.013,0.011
2,부산,0.023,0.029,0.039,0.037,0.048,0.038,0.028,0.03,0.028,0.029,0.023,0.018
3,대구,0.017,0.024,0.036,0.036,0.048,0.044,0.03,0.03,0.025,0.022,0.017,0.014
4,인천,0.017,0.023,0.033,0.033,0.046,0.041,0.032,0.037,0.026,0.024,0.017,0.015
...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,경남,-,-,-,-,-,-,-,-,-,-,0.02,0.019
160,경남,0.024,0.03,0.042,0.04,0.053,0.044,0.033,0.033,0.028,0.027,0.022,0.019
161,제주,0.038,0.042,0.054,0.052,0.065,0.048,0.035,0.04,0.041,0.045,0.04,0.033
162,제주,0.04,0.043,0.054,0.052,0.061,0.047,0.035,0.038,0.04,0.04,0.041,0.038
163,제주,0.039,0.043,0.054,0.052,0.062,0.048,0.035,0.039,0.041,0.042,0.041,0.036

In [74]:
graph3 = graph2.drop(graph2.index[0])
graph3

,시도별(1),2019. 01,2019. 02,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12
1,서울,0.012,0.018,0.028,0.029,0.043,0.039,0.031,0.03,0.024,0.021,0.013,0.011
2,부산,0.023,0.029,0.039,0.037,0.048,0.038,0.028,0.03,0.028,0.029,0.023,0.018
3,대구,0.017,0.024,0.036,0.036,0.048,0.044,0.03,0.03,0.025,0.022,0.017,0.014
4,인천,0.017,0.023,0.033,0.033,0.046,0.041,0.032,0.037,0.026,0.024,0.017,0.015
5,광주,0.021,0.028,0.036,0.036,0.048,0.039,0.029,0.031,0.027,0.025,0.021,0.019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,경남,-,-,-,-,-,-,-,-,-,-,0.02,0.019
160,경남,0.024,0.03,0.042,0.04,0.053,0.044,0.033,0.033,0.028,0.027,0.022,0.019
161,제주,0.038,0.042,0.054,0.052,0.065,0.048,0.035,0.04,0.041,0.045,0.04,0.033
162,제주,0.04,0.043,0.054,0.052,0.061,0.047,0.035,0.038,0.04,0.04,0.041,0.038
163,제주,0.039,0.043,0.054,0.052,0.062,0.048,0.035,0.039,0.041,0.042,0.041,0.036

In [78]:
graph4 = graph.loc[graph["시도별(2)"]=='도평균']
graph4

,시도별(1),시도별(2),2019. 01,2019. 02,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12
40,경기,도평균,0.013,0.019,0.03,0.032,0.048,0.042,0.034,0.033,0.024,0.021,0.014,0.012
59,강원,도평균,0.021,0.027,0.038,0.04,0.056,0.044,0.034,0.03,0.023,0.024,0.02,0.019
71,충북,도평균,0.015,0.021,0.034,0.035,0.048,0.042,0.03,0.028,0.024,0.021,0.016,0.012
87,충남,도평균,0.02,0.026,0.036,0.036,0.053,0.046,0.036,0.036,0.03,0.027,0.02,0.019
102,전북,도평균,0.022,0.03,0.04,0.04,0.054,0.045,0.032,0.032,0.029,0.027,0.023,0.021
125,전남,도평균,0.025,0.031,0.041,0.04,0.051,0.043,0.031,0.031,0.028,0.029,0.025,0.022
141,경북,도평균,0.024,0.03,0.041,0.041,0.054,0.045,0.032,0.032,0.028,0.028,0.023,0.021
160,경남,도평균,0.024,0.03,0.042,0.04,0.053,0.044,0.033,0.033,0.028,0.027,0.022,0.019
163,제주,도평균,0.039,0.043,0.054,0.052,0.062,0.048,0.035,0.039,0.041,0.042,0.041,0.036

In [86]:
graph5 = graph.loc[[1,2,3,4,5,6,7,8]]
graph5

,시도별(1),시도별(2),2019. 01,2019. 02,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12
1,서울,서울,0.012,0.018,0.028,0.029,0.043,0.039,0.031,0.03,0.024,0.021,0.013,0.011
2,부산,부산,0.023,0.029,0.039,0.037,0.048,0.038,0.028,0.03,0.028,0.029,0.023,0.018
3,대구,대구,0.017,0.024,0.036,0.036,0.048,0.044,0.03,0.03,0.025,0.022,0.017,0.014
4,인천,인천,0.017,0.023,0.033,0.033,0.046,0.041,0.032,0.037,0.026,0.024,0.017,0.015
5,광주,광주,0.021,0.028,0.036,0.036,0.048,0.039,0.029,0.031,0.027,0.025,0.021,0.019
6,대전,대전,0.013,0.016,0.028,0.03,0.045,0.038,0.028,0.029,0.025,0.02,0.016,0.013
7,울산,울산,0.025,0.03,0.039,0.037,0.047,0.038,0.028,0.029,0.027,0.029,0.023,0.02
8,세종,세종,0.014,0.02,0.034,0.036,0.051,0.044,0.031,0.031,0.025,0.021,0.016,0.013

In [89]:
graph6 = pd.concat([graph5, graph4])
graph6

,시도별(1),시도별(2),2019. 01,2019. 02,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12
1,서울,서울,0.012,0.018,0.028,0.029,0.043,0.039,0.031,0.03,0.024,0.021,0.013,0.011
2,부산,부산,0.023,0.029,0.039,0.037,0.048,0.038,0.028,0.03,0.028,0.029,0.023,0.018
3,대구,대구,0.017,0.024,0.036,0.036,0.048,0.044,0.03,0.03,0.025,0.022,0.017,0.014
4,인천,인천,0.017,0.023,0.033,0.033,0.046,0.041,0.032,0.037,0.026,0.024,0.017,0.015
5,광주,광주,0.021,0.028,0.036,0.036,0.048,0.039,0.029,0.031,0.027,0.025,0.021,0.019
6,대전,대전,0.013,0.016,0.028,0.03,0.045,0.038,0.028,0.029,0.025,0.02,0.016,0.013
7,울산,울산,0.025,0.03,0.039,0.037,0.047,0.038,0.028,0.029,0.027,0.029,0.023,0.02
8,세종,세종,0.014,0.02,0.034,0.036,0.051,0.044,0.031,0.031,0.025,0.021,0.016,0.013
40,경기,도평균,0.013,0.019,0.03,0.032,0.048,0.042,0.034,0.033,0.024,0.021,0.014,0.012
59,강원,도평균,0.021,0.027,0.038,0.04,0.056,0.044,0.034,0.03,0.023,0.024,0.02,0.019
71,충북,도평균,0.015,0.021,0.034,0.035,0.048,0.042,0.03,0.028,0.024,0.021,0.016,0.012
87,충남,도평균,0.02,0.026,0.036,0.036,0.053,0.046,0.036,0.036,0.03,0.027,0.02,0.019
102,전북,도평균,0.022,0.03,0.04,0.04,0.054,0.045,0.032,0.032,0.029,0.027,0.023,0.021
125,전남,도평균,0.025,0.031,0.041,0.04,0.051,0.043,0.031,0.031,0.028,0.029,0.025,0.022
141,경북,도평균,0.024,0.03,0.041,0.041,0.054,0.045,0.032,0.032,0.028,0.028,0.023,0.021
160,경남,도평균,0.024,0.03,0.042,0.04,0.053,0.044,0.033,0.033,0.028,0.027,0.022,0.019
163,제주,도평균,0.039,0.043,0.054,0.052,0.062,0.048,0.035,0.039,0.041,0.042,0.041,0.036

In [107]:
graph7 = graph6.drop(['시도별(2)'],axis=1)
graph7

,시도별(1),2019. 01,2019. 02,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12,평균
1,서울,0.012,0.018,0.018,0.029,0.043,0.039,0.031,0.030,0.024,0.021,0.013,0.011,0.024083
2,부산,0.023,0.029,0.029,0.037,0.048,0.038,0.028,0.030,0.028,0.029,0.023,0.018,0.030000
3,대구,0.017,0.024,0.024,0.036,0.048,0.044,0.030,0.030,0.025,0.022,0.017,0.014,0.027583
4,인천,0.017,0.023,0.023,0.033,0.046,0.041,0.032,0.037,0.026,0.024,0.017,0.015,0.027833
5,광주,0.021,0.028,0.028,0.036,0.048,0.039,0.029,0.031,0.027,0.025,0.021,0.019,0.029333
6,대전,0.013,0.016,0.016,0.030,0.045,0.038,0.028,0.029,0.025,0.020,0.016,0.013,0.024083
7,울산,0.025,0.030,0.030,0.037,0.047,0.038,0.028,0.029,0.027,0.029,0.023,0.020,0.030250
8,세종,0.014,0.020,0.020,0.036,0.051,0.044,0.031,0.031,0.025,0.021,0.016,0.013,0.026833
40,경기,0.013,0.019,0.019,0.032,0.048,0.042,0.034,0.033,0.024,0.021,0.014,0.012,0.025917
59,강원,0.021,0.027,0.027,0.040,0.056,0.044,0.034,0.030,0.023,0.024,0.020,0.019,0.030417
71,충북,0.015,0.021,0.021,0.035,0.048,0.042,0.030,0.028,0.024,0.021,0.016,0.012,0.026083
87,충남,0.020,0.026,0.026,0.036,0.053,0.046,0.036,0.036,0.030,0.027,0.020,0.019,0.031250
102,전북,0.022,0.030,0.030,0.040,0.054,0.045,0.032,0.032,0.029,0.027,0.023,0.021,0.032083
125,전남,0.025,0.031,0.031,0.040,0.051,0.043,0.031,0.031,0.028,0.029,0.025,0.022,0.032250
141,경북,0.024,0.030,0.030,0.041,0.054,0.045,0.032,0.032,0.028,0.028,0.023,0.021,0.032333
160,경남,0.024,0.030,0.030,0.040,0.053,0.044,0.033,0.033,0.028,0.027,0.022,0.019,0.031917
163,제주,0.039,0.043,0.043,0.052,0.062,0.048,0.035,0.039,0.041,0.042,0.041,0.036,0.043417

In [108]:
graph7[['2019. 01','2019. 02','2019. 03','2019. 04','2019. 05','2019. 06','2019. 07',
       '2019. 08','2019. 09','2019. 10','2019. 11','2019. 12']] = graph7[['2019. 01','2019. 02','2019. 03','2019. 04','2019. 05','2019. 06','2019. 07',
       '2019. 08','2019. 09','2019. 10','2019. 11','2019. 12']].astype(float)

In [109]:
graph7.dtypes

시도별(1)       object
2019. 01    float64
2019. 02    float64
2019. 03    float64
2019. 04    float64
2019. 05    float64
2019. 06    float64
2019. 07    float64
2019. 08    float64
2019. 09    float64
2019. 10    float64
2019. 11    float64
2019. 12    float64
평균          float64
dtype: object

In [124]:
graph7['평균'] = graph7.mean(axis=1)
graph7 = graph7.drop(["평균"],axis = 1)
graph7

,시도별(1),2019. 01,2019. 02,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12,총평균
1,서울,0.012,0.018,0.018,0.029,0.043,0.039,0.031,0.030,0.024,0.021,0.013,0.011,0.024083
2,부산,0.023,0.029,0.029,0.037,0.048,0.038,0.028,0.030,0.028,0.029,0.023,0.018,0.030000
3,대구,0.017,0.024,0.024,0.036,0.048,0.044,0.030,0.030,0.025,0.022,0.017,0.014,0.027583
4,인천,0.017,0.023,0.023,0.033,0.046,0.041,0.032,0.037,0.026,0.024,0.017,0.015,0.027833
5,광주,0.021,0.028,0.028,0.036,0.048,0.039,0.029,0.031,0.027,0.025,0.021,0.019,0.029333
6,대전,0.013,0.016,0.016,0.030,0.045,0.038,0.028,0.029,0.025,0.020,0.016,0.013,0.024083
7,울산,0.025,0.030,0.030,0.037,0.047,0.038,0.028,0.029,0.027,0.029,0.023,0.020,0.030250
8,세종,0.014,0.020,0.020,0.036,0.051,0.044,0.031,0.031,0.025,0.021,0.016,0.013,0.026833
40,경기,0.013,0.019,0.019,0.032,0.048,0.042,0.034,0.033,0.024,0.021,0.014,0.012,0.025917
59,강원,0.021,0.027,0.027,0.040,0.056,0.044,0.034,0.030,0.023,0.024,0.020,0.019,0.030417
71,충북,0.015,0.021,0.021,0.035,0.048,0.042,0.030,0.028,0.024,0.021,0.016,0.012,0.026083
87,충남,0.020,0.026,0.026,0.036,0.053,0.046,0.036,0.036,0.030,0.027,0.020,0.019,0.031250
102,전북,0.022,0.030,0.030,0.040,0.054,0.045,0.032,0.032,0.029,0.027,0.023,0.021,0.032083
125,전남,0.025,0.031,0.031,0.040,0.051,0.043,0.031,0.031,0.028,0.029,0.025,0.022,0.032250
141,경북,0.024,0.030,0.030,0.041,0.054,0.045,0.032,0.032,0.028,0.028,0.023,0.021,0.032333
160,경남,0.024,0.030,0.030,0.040,0.053,0.044,0.033,0.033,0.028,0.027,0.022,0.019,0.031917
163,제주,0.039,0.043,0.043,0.052,0.062,0.048,0.035,0.039,0.041,0.042,0.041,0.036,0.043417

In [159]:
list_1 = [i for i in range(len(graph7))]
list_1
graph7.index = list_1
graph7

,시도별(1),2019. 01,2019. 02,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12,총평균,상태
0,서울,0.012,0.018,0.018,0.029,0.043,0.039,0.031,0.030,0.024,0.021,0.013,0.011,0.024083,보통
1,부산,0.023,0.029,0.029,0.037,0.048,0.038,0.028,0.030,0.028,0.029,0.023,0.018,0.030000,보통
2,대구,0.017,0.024,0.024,0.036,0.048,0.044,0.030,0.030,0.025,0.022,0.017,0.014,0.027583,보통
3,인천,0.017,0.023,0.023,0.033,0.046,0.041,0.032,0.037,0.026,0.024,0.017,0.015,0.027833,보통
4,광주,0.021,0.028,0.028,0.036,0.048,0.039,0.029,0.031,0.027,0.025,0.021,0.019,0.029333,보통
5,대전,0.013,0.016,0.016,0.030,0.045,0.038,0.028,0.029,0.025,0.020,0.016,0.013,0.024083,보통
6,울산,0.025,0.030,0.030,0.037,0.047,0.038,0.028,0.029,0.027,0.029,0.023,0.020,0.030250,보통
7,세종,0.014,0.020,0.020,0.036,0.051,0.044,0.031,0.031,0.025,0.021,0.016,0.013,0.026833,보통
8,경기,0.013,0.019,0.019,0.032,0.048,0.042,0.034,0.033,0.024,0.021,0.014,0.012,0.025917,보통
9,강원,0.021,0.027,0.027,0.040,0.056,0.044,0.034,0.030,0.023,0.024,0.020,0.019,0.030417,보통
10,충북,0.015,0.021,0.021,0.035,0.048,0.042,0.030,0.028,0.024,0.021,0.016,0.012,0.026083,보통
11,충남,0.020,0.026,0.026,0.036,0.053,0.046,0.036,0.036,0.030,0.027,0.020,0.019,0.031250,보통
12,전북,0.022,0.030,0.030,0.040,0.054,0.045,0.032,0.032,0.029,0.027,0.023,0.021,0.032083,보통
13,전남,0.025,0.031,0.031,0.040,0.051,0.043,0.031,0.031,0.028,0.029,0.025,0.022,0.032250,보통
14,경북,0.024,0.030,0.030,0.041,0.054,0.045,0.032,0.032,0.028,0.028,0.023,0.021,0.032333,보통
15,경남,0.024,0.030,0.030,0.040,0.053,0.044,0.033,0.033,0.028,0.027,0.022,0.019,0.031917,보통
16,제주,0.039,0.043,0.043,0.052,0.062,0.048,0.035,0.039,0.041,0.042,0.041,0.036,0.043417,보통

In [163]:
def get_status(s):
    if s < 0.031:
        status = "좋음"
    elif s < 0.091:
        status = "보통"
    elif s < 0.151:
        status = "나쁨"
    else:
        status = "아주 나쁨"
    return status

In [165]:
graph7["상태"] = graph7["총평균"].apply(lambda s: get_status(s))
graph7

,시도별(1),2019. 01,2019. 02,2019. 03,2019. 04,2019. 05,2019. 06,2019. 07,2019. 08,2019. 09,2019. 10,2019. 11,2019. 12,총평균,상태
0,서울,0.012,0.018,0.018,0.029,0.043,0.039,0.031,0.030,0.024,0.021,0.013,0.011,0.024083,좋음
1,부산,0.023,0.029,0.029,0.037,0.048,0.038,0.028,0.030,0.028,0.029,0.023,0.018,0.030000,좋음
2,대구,0.017,0.024,0.024,0.036,0.048,0.044,0.030,0.030,0.025,0.022,0.017,0.014,0.027583,좋음
3,인천,0.017,0.023,0.023,0.033,0.046,0.041,0.032,0.037,0.026,0.024,0.017,0.015,0.027833,좋음
4,광주,0.021,0.028,0.028,0.036,0.048,0.039,0.029,0.031,0.027,0.025,0.021,0.019,0.029333,좋음
5,대전,0.013,0.016,0.016,0.030,0.045,0.038,0.028,0.029,0.025,0.020,0.016,0.013,0.024083,좋음
6,울산,0.025,0.030,0.030,0.037,0.047,0.038,0.028,0.029,0.027,0.029,0.023,0.020,0.030250,좋음
7,세종,0.014,0.020,0.020,0.036,0.051,0.044,0.031,0.031,0.025,0.021,0.016,0.013,0.026833,좋음
8,경기,0.013,0.019,0.019,0.032,0.048,0.042,0.034,0.033,0.024,0.021,0.014,0.012,0.025917,좋음
9,강원,0.021,0.027,0.027,0.040,0.056,0.044,0.034,0.030,0.023,0.024,0.020,0.019,0.030417,좋음
10,충북,0.015,0.021,0.021,0.035,0.048,0.042,0.030,0.028,0.024,0.021,0.016,0.012,0.026083,좋음
11,충남,0.020,0.026,0.026,0.036,0.053,0.046,0.036,0.036,0.030,0.027,0.020,0.019,0.031250,보통
12,전북,0.022,0.030,0.030,0.040,0.054,0.045,0.032,0.032,0.029,0.027,0.023,0.021,0.032083,보통
13,전남,0.025,0.031,0.031,0.040,0.051,0.043,0.031,0.031,0.028,0.029,0.025,0.022,0.032250,보통
14,경북,0.024,0.030,0.030,0.041,0.054,0.045,0.032,0.032,0.028,0.028,0.023,0.021,0.032333,보통
15,경남,0.024,0.030,0.030,0.040,0.053,0.044,0.033,0.033,0.028,0.027,0.022,0.019,0.031917,보통
16,제주,0.039,0.043,0.043,0.052,0.062,0.048,0.035,0.039,0.041,0.042,0.041,0.036,0.043417,보통

In [167]:
graph8 = graph7[["시도별(1)","총평균","상태"]]
graph8

   시도별(1)       총평균  상태
0      서울  0.024083  좋음
1      부산  0.030000  좋음
2      대구  0.027583  좋음
3      인천  0.027833  좋음
4      광주  0.029333  좋음
5      대전  0.024083  좋음
6      울산  0.030250  좋음
7      세종  0.026833  좋음
8      경기  0.025917  좋음
9      강원  0.030417  좋음
10     충북  0.026083  좋음
11     충남  0.031250  보통
12     전북  0.032083  보통
13     전남  0.032250  보통
14     경북  0.032333  보통
15     경남  0.031917  보통
16     제주  0.043417  보통